Следуя нашему плану объединения таблиц, первым делом мы должны склеить таблицы ratings1 и ratings2 по строкам.

Для этого воспользуемся встроенной функцией Pandas **concat()**, которая позволяет склеивать (конкатенировать) таблицы как по строкам, так и по столбцам.

<code style='background:yellow;color:black'>Основные параметры функции concat()</code>

- **objs** — список объектов DataFrame ([df1, df2,…]), которые должны быть сконкатенированы;
- **axis** — ось определяет направление конкатенации: 0 — конкатенация по строкам (по умолчанию), 1 — конкатенация по столбцам;
- **join** — либо inner (пересечение), либо outer (объединение); рассмотрим этот момент немного позже;
- **ignore_index** — по умолчанию установлено значение False, которое позволяет значениям индекса оставаться такими, какими они были в исходных данных. Если установлено значение True, параметр будет игнорировать исходные значения и повторно назначать значения индекса в последовательном порядке.

<code style='background:pink;color:black'>**Для корректной конкатенации по строкам объединяемые таблицы должны иметь одинаковую структуру — идентичное число и имена столбцов.**</code>

Итак, давайте склеим  ratings1 и ratings2 по строкам, так как они имеют одинаковую структуру столбцов. Для этого передадим их списком в функцию **concat()**. Помним, что параметр axis по умолчанию равен 0, объединение происходит по строкам, поэтому не трогаем его.

**Примечание.** Обратите внимание, что **concat** является функцией библиотеки, а не методом DataFrame. Поэтому её вызов осуществляется как **pd.concat(...)**.

In [1]:
import pandas as pd
rating1 = pd.read_csv('data/ratings1.csv', sep=',')
rating2 = pd.read_csv('data/ratings2.csv', sep=',')
movies = pd.read_csv('data/movies.csv', sep=',')
dates_ = pd.read_csv('data/dates.csv')

In [2]:
ratings = pd.concat([rating1, rating2])
ratings

       userId  movieId  rating
0           1        1     4.0
1           1        3     4.0
2           1        6     4.0
3           1       47     5.0
4           1       50     5.0
...       ...      ...     ...
60831     610   166534     4.0
60832     610   168248     5.0
60833     610   168250     5.0
60834     610   168252     5.0
60835     610   170875     3.0

[100837 rows x 3 columns]

В результате мы увеличили первую таблицу, добавив снизу строки второй таблицы.

<code style='background:pink;color:black'>На первый взгляд может показаться, что всё прошло успешно, однако если мы посмотрим на индексы последних строк таблицы, то увидим, что их нумерация не совпадает с количеством строк. Это может привести к некорректному объединению таблиц по ключевым столбцам на следующем этапе решения нашей задачи.</code>

Это связано с тем, что по умолчанию **concat** сохраняет первоначальные индексы объединяемых таблиц, а обе наши таблицы индексировались, начиная от 0. Чтобы создать новые индексы, нужно выставить параметр **ignore_index на True**:

In [3]:
ratings = pd.concat(
    [rating1, rating2],
    ignore_index=True
)
ratings

        userId  movieId  rating
0            1        1     4.0
1            1        3     4.0
2            1        6     4.0
3            1       47     5.0
4            1       50     5.0
...        ...      ...     ...
100832     610   166534     4.0
100833     610   168248     5.0
100834     610   168250     5.0
100835     610   168252     5.0
100836     610   170875     3.0

[100837 rows x 3 columns]

Казалось бы, совсем другое дело! Но это ещё не всё. Давайте узнаем количество строк в таблицах ratings и dates, ведь нам предстоит вертикально склеить их между собой:

In [5]:
print('Число строк в таблице ratings:', ratings.shape[0])
print('Число строк в таблице dates:', dates_.shape[0])
print(ratings.shape[0] == dates_.shape[0])

Число строк в таблице ratings: 100837
Число строк в таблице dates: 100836
False

Размерность таблиц разная — как такое могло произойти?

На самом деле очень просто: при выгрузке данных информация об оценках какого-то  пользователя попала в обе таблицы (ratings1 и ratings2). В результате конкатенации случилось дублирование строк. В данном примере их легко найти — выведем последнюю строку таблицы ratings1 и первую строку таблицы ratings2:

In [6]:
display(rating1.tail(1))
display(rating2.head(1))

       userId  movieId  rating
40000     274     5621     2.0

   userId  movieId  rating
0     274     5621     2.0

Чтобы очистить таблицу от дублей, мы можем воспользоваться методом DataFrame **drop_duplicates()**, который удаляет повторяющиеся строки в таблице. Не забываем обновить индексы после удаления дублей, выставив параметр **ignore_index** в методе **drop_duplicates()** на значение True:

In [7]:
ratings = ratings.drop_duplicates(ignore_index=True)
print('Число строк в таблице ratings:', ratings.shape[0])

Число строк в таблице ratings: 100836

Наконец, мы можем добавить к нашей таблице с оценками даты их выставления. Для этого конкатенируем таблицы ratings и dates по столбцам:

In [9]:
ratings_dates = pd.concat([ratings, dates_], axis=1)
ratings_dates.tail(7)

        userId  movieId  rating                 date
100829     610   164179     5.0  2017-05-03 21:07:11
100830     610   166528     4.0  2017-05-04 06:29:25
100831     610   166534     4.0  2017-05-03 21:53:22
100832     610   168248     5.0  2017-05-03 22:21:31
100833     610   168250     5.0  2017-05-08 19:50:47
100834     610   168252     5.0  2017-05-03 21:19:12
100835     610   170875     3.0  2017-05-03 21:20:15

In [4]:
import pandas as pd
import os

def concat_users_files(path):
    """
    Вам необходимо написать функцию concat_user_files(path), параметром которой является path - путь до директории. 
    Функция должна объединить информацию из предоставленных вам файлов в один DataFrame и вернуть его. 
    Не забудьте обновить индексы результирующей таблицы после объединения.
    Учтите тот момент, что в результате объединения могут возникнуть дубликаты, от которых необходимо будет избавиться. 
    """
    con_data = pd.DataFrame()
    file_list = os.listdir(path)
    file_list.sort()
    for file in file_list:
        con_file = pd.read_csv(path + '/' + file)
        con_data = pd.concat([con_data, con_file],
        ignore_index=True
        )
    con_data = con_data.drop_duplicates()
    return con_data
if __name__ == '__main__':
    data = concat_users_files('./Root/users/')
    print(data)

  user_id                         image_url
0   id001  http://example.com/img/id001.png
1   id002  http://example.com/img/id002.jpg
2   id003  http://example.com/img/id003.bmp
3   id004  http://example.com/img/id004.jpg
4   id005  http://example.com/img/id005.png
5   id006  http://example.com/img/id006.png
6   id007  http://example.com/img/id007.png
7   id008  http://example.com/img/id008.png